ul {
  margin: 0;
  padding: 0 10px;
  color: rgb(218, 203, 203);
}

i {
  margin: 0 10px;
}

li {
  list-style:  none;
}

li:nth-child(n+2) {
  border-top: 1px solid grey;
}

.radio-container {
  min-width: 200px;
  border-radius: 20px;
  box-shadow: 2px 8px 10px -3px rgb(112, 63, 63);
}

.header {
  background-color: rgb(117, 185, 27);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center {
  background-color: rgb(141, 81, 81);
  padding: 10px;
}

.footer {
  background-color: rgb(65, 43, 43);
  height: 70px;
  border-radius: 0 0 20px 20px;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currently-playing {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.top {
  font-size: 0.7rem;
  color: rgb(117, 185, 27);
}